{%extends "base.html"%} {% load static %}
{%block content%}

<link href="https://fonts.googleapis.com/css?family=Oswald:600,700" rel="stylesheet">
<div class="container" style="padding-top: 35px;">
    <div class="row">

        <body>
            <div class="card-panel" style="background-color:rgba(238, 110, 114, 0.771)">
                <p style="padding-bottom: 10px;font-size: 40px;font-family:Oswald;color: black">I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively. I am similar to what is called a
                        panel in other frameworks.
                </p>
            </div>
        </div>
    </div>
</div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur doloremque aperiam ex mollitia minima! Maxime amet mollitia quis ab adipisci voluptate repudiandae explicabo tempore quisquam quidem! Voluptatibus consectetur aut officia.
{% endblock %}