{%extends "base.html" %} {% load static %}
{% load crispy_forms_tags %}
{%block content%}
<link href="https://fonts.googleapis.com/css?family=Oswald:600,700" rel="stylesheet">
<div class="container" style="padding-top: 35px;">
    <div class="card-panel" style="background-color:rgb(20,124,32)">
        <div class="content-section ">
            <div class="media">
                <p>
                    <img class="rounded-circle account-img" src="../{{user.profile.avatar.url}}">
                </p>
                Pic at ../{{user.profile.avatar.url}}
                <p style="padding-bottom: 10px;font-size: 40px;font-family:Oswald;color: black">
                    I am {{user.username}}
                </p>
            </div>
        </div>  
    </div>
</div>

{% endblock %}